<header class="header">
  <div class="header-logo">
    <a class="header-logo-link" href="{{ "/" | absURL }}">
      <img class="header-logo-img" src="{{ "/images/triangulo-logo.svg" | relURL }}" alt="Triangulo Logo">
    </a>
  </div>

  <nav class="header-menu">
    <ul class="header-menu-list">
      <li class="header-menu-item">
        <a class="header-menu-item-link" href="{{ "/sobre" | absURL }}">Sobre</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-item-link" href="#">Contato</a>
      </li>
    </ul>
  </nav>
</header>