<div class="newsletter">
  <div class="newsletter-content">
    <header class="newsletter-header">
      <h3 class="newsletter-header-title">
        Continue aprendendo no Triângulo
      </h3>

      <p class="newsletter-header-copy">
        Receba nossos artigos na íntegra direto na sua caixa de mensagens, antes
        de todo mundo. Nunca te enviaremos spam.
      </p>
    </header>

    <form
      class="newsletter-form"
      action="https://buttondown.email/api/emails/embed-subscribe/triangulo.dev"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/triangulo.dev', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <label class="newsletter-form-label" for="bd-email">E-mail:</label>
      <input
        class="newsletter-form-input"
        type="email"
        name="email"
        id="bd-email"
      />
      <input class="newsletter-form-button" type="submit" value="Cadastre-se" />
      <input type="hidden" value="1" name="embed" />
    </form>
  </div>
</div>
