<aside class="newsletter">
  <header class="newsletter-header">
    <h3 class="newsletter-header-title">
      Continue aprendendo no Triângulo
    </h3>

    <p class="newsletter-header-copy">
      Receba nossos posts na íntegra direto na sua caixa de mensagens, antes de todo mundo. Nunca te enviaremos spam.
    </p>
  </header>

  <form class="newsletter-form" action="https://buttondown.email/api/emails/embed-subscribe/triangulo.training" method="post" target="popupwindow"
    onsubmit="window.open('https://buttondown.email/triangulo.training', 'popupwindow')"
    class="embeddable-buttondown-form">
    <label for="bd-email">Email</label>
    <input type="email" name="email" id="bd-email">
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Cadastre-se" />
  </form>
</aside>