{{ define "main" }}
<div class="content-wrapper">
  <div class="page">
    <section class="section">
      <h2 class="section-title">Artigos</h2>

      <div class="articles">
        <article class="card card--withDivider card--withLink">
          <div class="card-box">
            <h2 class="card-title">
              <a class="card-link" href='#'>CSS escalável além do básico</a>
            </h2>
          </div>

          <div class="card-box">
            <p class="card-paragraph">O que você precisa saber para escrever CSS que escala junto com o seu projeto.</p>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
{{ end }}