
/* variables ========== */

:root {
  /* colors */
  --color-paper: #fff;
  --color-paper-transparent: rgba(255, 255, 255, 0.8);
  --color-paper-highlight: #ddd;
  --color-paper-mark: #ffeb56;
  --color-ink: #1f1f1f;

  --color-accent: #281c4d;
  --color-accent-text: #fff;

  /* max-width */
  --max-width-base: 45rem;
  --max-width-wide: 60rem;

  /* spacing */
  --spacing-xxlarge: 3rem;
  --spacing-xlarge: 2rem;
  --spacing-large: 1.5rem;
  --spacing-base: 1rem;
  --spacing-small: 0.5rem;
  --spacing-xsmall: 0.25rem;

  /* typography */
  --font-family: 'IBM Plex Mono', monospace;

  --font-size-xlarge: 2rem;
  --font-size-large: 1.5rem;
  --font-size-base: 1rem;

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --line-height-base: 1.6;

  --form-field-height-base: 30px;
}

/* base =============== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-paper);
}

/* card =============== */

.card {
  background: var(--color-paper);
  color: var(--color-ink);

  --card-border: 2px solid var(--color-ink);
  border: var(--card-border);
}

.card--featured {
  position: relative;
}

.card--featured:after {
  content: '✨';
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(50%);
  font-size: var(--font-size-xlarge)
}

.card--withLink {
  position: relative;
}

.card-link {
  text-decoration: inherit;
  color: inherit;
}

.card-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-box {
  padding: var(--spacing-small);
}

.card--withDivider > .card-box + .card-box {
  border-top: var(--card-border);
}

.card-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.card-paragraph {
  font-size: var(--font-size-base);
  margin: 0;
}

/* articles =========== */

.articles {
  display: grid;
  grid-gap: var(--spacing-large);
}

/* article ============ */

.article {
  position: relative;
  display: grid;
  grid-gap: var(--spacing-small);
}

.article-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.article-link {
  text-decoration: inherit;
  color: inherit;
}

.article-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.article-excerpt {
  font-size: var(--font-size-base);
  margin: 0;
}

/* section ============ */

.section {
  display: grid;
  grid-gap: var(--spacing-large);

  padding: 0 var(--spacing-base);
}

.section--base {
  max-width: var(--max-width-base);
}

.section-title {
  font-size: var(--font-size-xlarge);
  text-align: center;
  margin: 0;
}

/* divider ============ */

.divider {
  height: 4px;
  width: 100%;
  max-width: 100px;
  background-color: var(--color-paper-highlight);
}

/* page =============== */

.page {
  flex: 1; /* grows inside body */
  display: grid;
  grid-gap: var(--spacing-xxlarge);
  align-content: baseline;
  justify-items: center;
  padding-top: var(--spacing-xxlarge);
}

/* header ============= */

.header {
  padding: var(--spacing-base);
  width: 100%;
  max-width: var(--max-width-base);
  margin: 0 auto;
}

.header-logo {
  display: grid;
  grid-gap: var(--spacing-xsmall);
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;

  text-decoration: none;
  color: var(--color-ink);
}

.header-logo-text {
  display: block;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  opacity: 0;
}

.header-logo:hover .header-logo-text {
  opacity: 1;
}

.header-logo-img {
  display: block;
}

/* footer ============== */

.footer {
  width: 100%;
  padding-top: var(--spacing-xxlarge);
}

/* post =============== */

.post {
  width: 100%;
  display: grid;
  grid-gap: var(--spacing-xlarge);
  justify-content: center;
}

.post-header {
  padding: 0 var(--spacing-base);
  max-width: var(--max-width-base);
}

.post-title {
  font-size: var(--font-size-xlarge);
  margin: 0;
}

.post-content {
}

.post-content p,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content blockquote,
.post-content ul,
.post-content ol {
  max-width: var(--max-width-base);
}

.post-content p,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content blockquote {
  padding: 0 var(--spacing-base);
  line-height: var(--line-height-base);
}

.post-content ul,
.post-content ol {
  padding-left: var(--spacing-xlarge);
  padding-right: var(--spacing-base);
  line-height: var(--line-height-base);
}

.post-content li + li {
  padding-top: var(--spacing-small);
}

.post-content li > p:first-child {
  margin-top: 0;
}

.post-content a {
  color: var(--color-ink);
  font-weight: var(--font-weight-bold);
}

.post-content code {
  background-color: var(--color-paper-highlight);
  padding: var(--spacing-xsmall);
}

.post-content img {
  width: 100%;
}

.post-content mark {
  background-color: var(--color-paper-mark);
}

/* newsletter ========= */

.newsletter {
  width: 100%;
  background: var(--color-paper-highlight);
}

.newsletter-content {
  max-width: var(--max-width-base);
  margin: 0 auto;
  padding: var(--spacing-base);
}

.newsletter-header {

}

.newsletter-header-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.newsletter-form {
  display: grid;
  grid-gap: var(--spacing-small);
  align-items: center;
}

@media (min-width: 500px) {
  .newsletter-form {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }
}

.newsletter-form-input {
  height: var(--form-field-height-base);
  padding: 0 var(--spacing-xsmall);
  border: 1px solid var(--color-accent);
  border-radius: 0;
  background: var(--color-paper);
  appearance: none;
  -webkit-appearance: none;
}

.newsletter-form-button {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
  height: var(--form-field-height-base);
  padding: 0 var(--spacing-xsmall);
  border: 0;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}
