
/* variables ========== */

:root {
  /* colors */
  --color-paper: #fff;
  --color-paper-transparent: rgba(255, 255, 255, 0.8);
  --color-paper-highlight: #ddd;
  --color-ink: #1f1f1f;

  /* max-width */
  --max-width-base: 45rem;
  --max-width-large: 60rem;

  /* spacing */
  --spacing-xxlarge: 3rem;
  --spacing-xlarge: 2rem;
  --spacing-large: 1.5rem;
  --spacing-base: 1rem;
  --spacing-small: 0.5rem;
  --spacing-xsmall: 0.25rem;

  /* typography */
  --font-family: 'IBM Plex Mono', monospace;

  --font-size-xlarge: 2rem;
  --font-size-large: 1.5rem;
  --font-size-base: 1rem;

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --line-height-base: 1.4;
}

/* base =============== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-family);
}

/* card =============== */

.card {
  background: var(--color-paper);
  color: var(--color-ink);

  --card-border: 2px solid var(--color-ink);
  border: var(--card-border);
}

.card--featured {
  position: relative;
}

.card--featured:after {
  content: '✨';
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(50%);
  font-size: var(--font-size-xlarge)
}

.card--withLink {
  position: relative;
}

.card-link {
  text-decoration: inherit;
  color: inherit;
}

.card-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-box {
  padding: var(--spacing-small);
}

.card--withDivider > .card-box + .card-box {
  border-top: var(--card-border);
}

.card-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.card-paragraph {
  font-size: var(--font-size-base);
  margin: 0;
}

/* articles =========== */

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  grid-gap: var(--spacing-base);
}

/* article ============ */

.article {
  position: relative;
  display: grid;
  grid-gap: var(--spacing-base);
}

.article-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.article-link {
  text-decoration: inherit;
  color: inherit;
}

.article-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.article-excerpt {
  font-size: var(--font-size-base);
  margin: 0;
}

/* section ============ */

.section {
  display: grid;
  grid-gap: var(--spacing-large);

  padding: 0 var(--spacing-base);
}

.section-title {
  font-size: var(--font-size-large);
  margin: 0;
}

/* page =============== */

.page {
  display: grid;
  grid-gap: var(--spacing-xlarge);

  margin: 0 auto;
  max-width: var(--max-width-base);

  padding-top: var(--spacing-xxlarge);
}

/* header ============= */

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  padding: var(--spacing-base);
  max-width: var(--max-width-large);
  margin: 0 auto;

}

.header-logo-link {
  display: block;
  text-decoration: none;
  color: var(--color-ink);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.header-logo-img {
  display: block;
}

.header-menu-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--spacing-base);

  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: end;
}

.header-menu-item-link {
  color: var(--color-)
}

/* post =============== */

.post {
  display: grid;
  grid-gap: var(--spacing-xlarge);
}

.post-header {
  padding: 0 var(--spacing-base);
}

.post-title {
  font-size: var(--font-size-xlarge);
  margin: 0;
}

.post-content {
}

.post-content p,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content blockquote {
  padding: 0 var(--spacing-base);
  line-height: var(--line-height-base);
}

.post-content ul,
.post-content ol {
  padding-left: var(--spacing-xlarge);
  padding-right: var(--spacing-base);
  line-height: var(--line-height-base);
}

.post-content li + li {
  padding-top: var(--spacing-small);
}

.post-content li > p:first-child {
  margin-top: 0;
}

.post-content a {
  color: var(--color-ink);
  font-weight: var(--font-weight-bold);
}

.post-content code {
  background-color: var(--color-paper-highlight);
  padding: var(--spacing-xsmall);
}

/* newsletter ========= */

.newsletter {
  border: 2px solid var(--color-ink);
  padding: var(--spacing-base);
}

.newsletter-header {

}

.newsletter-header-title {
  font-size: var(--font-size-large);
  margin: 0;
}
