
/* variables ========== */

:root {
  /* colors */
  --color-paper: #fef7f1;
  --color-ink: #1f1f1f;

  /* max-width */
  --max-width-base: 45rem;

  /* spacing */
  --spacing-xxlarge: 3rem;
  --spacing-xlarge: 2rem;
  --spacing-large: 1.5rem;
  --spacing-base: 1rem;
  --spacing-small: 0.5rem;

  /* fonts */
  --font-family: 'IBM Plex Mono', monospace;

  --font-size-xlarge: 2rem;
  --font-size-large: 1.5rem;
  --font-size-base: 1rem;
}

/* base =============== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-family);
}

/* card =============== */

.card {
  background: var(--color-paper);
  color: var(--color-ink);

  --card-border: 2px solid var(--color-ink);
  border: var(--card-border);
}

.card--featured {
  position: relative;
}

.card--featured:after {
  content: '✨';
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(50%);
  font-size: var(--font-size-xlarge)
}

.card--withLink {
  position: relative;
}

.card-link {
  text-decoration: inherit;
  color: inherit;
}

.card-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-box {
  padding: var(--spacing-small);
}

.card--withDivider > .card-box + .card-box {
  border-top: var(--card-border);
}

.card-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.card-paragraph {
  font-size: var(--font-size-base);
  margin: 0;
}

/* articles =========== */

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));

  grid-gap: var(--spacing-base);
}

/* section ============ */

.section {
  display: grid;
  grid-gap: var(--spacing-large);
}

.section-title {
  font-size: var(--font-size-large);
  margin: 0;
}

/* content-wrapper ==== */

.content-wrapper {
  margin: 0 auto;
  max-width: var(--max-width-base);
}

/* page =============== */

.page {
  display: grid;
  grid-gap: var(--spacing-xlarge);

  padding-top: var(--spacing-xxlarge);
}

/* header ============= */

.header {
  display: grid;
  grid-template-columns: auto 1fr;

  padding-top: var(--spacing-base);
  max-width: var(--max-width-base);
  margin: 0 auto;
}

.header-menu-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--spacing-base);

  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: end;
}

.header-menu-item-link {
  color: var(--color-)
}