{{ define "main" }}

<div class="page">
  <article class="post post--box">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>

    <div class="post-content">
      {{ .Content }}
    </div>
  </article>

  <div class="divider"></div>

  <section class="section section--base">
    <h2 class="section-title">Artigos</h2>
    <div class="articles">
      {{ range where .Pages "Type" "posts" }}
        {{ partial "article.html" . }}
      {{ end }}
    </div>
  </section>
</div>

{{ end }}
